body {
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.body > button {
  padding: 10px 35px;
  text-align: center;
  font-size: 35px;
}
.body > button[data-action='start'] {
  margin-right: 50px;
}
